<%- include('layout') %>

<h2>Tree List</h2>
<table>
    <thead>
        <tr>
            <th>#</th>
            <th>Name</th>
            <th>Image</th>
            <th>Description</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        <% trees.forEach((tree, index) => { %>
        <tr>
            <td><%= index + 1 %></td>
            <td><%= tree.treeName %></td>
            <td><img src="<%= tree.imagePath %>" alt="<%= tree.treeName %>" style="width: 100px;"></td>
            <td><%= tree.description %></td>
            <td>
                <a href="/trees/edit/<%= tree._id %>" class="btn btn-warning">Edit</a>
                <a href="/trees/delete/<%= tree._id %>" class="btn btn-danger">Delete</a>
            </td>
        </tr>
        <% }); %>
    </tbody>
</table>
